<section id="content" style="margin-top: 3%">
    <div class="container">
        <div class="block-header">
            <h2>Statistics reporting</h2>

            <ul class="actions">
                <li>
                    <a href="">
                        <i class="zmdi zmdi-trending-up"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="zmdi zmdi-check-all"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Refresh</a>
                        </li>
                        <li>
                            <a href="">Manage Widgets</a>
                        </li>
                        <li>
                            <a href="">Widgets Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

        <!--<div *ngFor="let static of statics">-->
            <div class="mini-charts">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="mini-charts-item">
                            <div class="clearfix">
                                <i class="chart stats-bar"></i>
                                <div class="count">
                                    <small>Death</small>
                                    <h2>150</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mini-charts-item">
                            <div class="clearfix">
                                <i class="chart stats-line"></i>
                                <div class="count">
                                    <small>Wounded</small>
                                    <h2>2433</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mini-charts-item">
                            <div class="clearfix">
                                <div class="chart stats-line-2"></div>
                                <div class="count">
                                    <small>Damage</small>
                                    <h2>$ 13,500k</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <div class="dash-widgets">
        <div class="row">
        <div class="col-md-4 col-sm-6">
        <div id="site-visits" class="dash-widget-item">
        <div class="dw-item">
        <div class="dwi-header">
        <div class="p-30">
        <div class="dash-widget-visits"></div>
        </div>

        <div class="dwih-title">For the week</div>
        </div>

        <div class="list-group lg-even-white">
        <div class="list-group-item media sv-item">
        <div class="pull-right">
        <div class="stats-bar"></div>
        </div>
        <div class="media-body">
        <small>Death</small>
        <h3>2,150</h3>
        </div>
        </div>

        <div class="list-group-item media sv-item">
        <div class="pull-right">
        <div class="stats-bar-2"></div>
        </div>
        <div class="media-body">
        <small>Wounded</small>
        <h3>34,456</h3>
        </div>
        </div>

        <div class="list-group-item media sv-item">
        <div class="pull-right">
        <div class="stats-line"></div>
        </div>
        <div class="media-body">
        <small>Total casualty</small>
        <h3>36,606</h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="col-md-4 col-sm-6">
        <div id="pie-charts" class="dash-widget-item">
        <div class="dw-item">
        <div class="dwi-header">
        <div class="dwih-title">Aid situation</div>
        </div>

        <div class="clearfix"></div>

        <div class="text-center p-20 m-t-25">
        <div class="easy-pie main-pie" data-percent="75">
        <div class="percent">75</div>
        <div class="pie-title">casualty report</div>
        </div>
        </div>
        </div>

        </div>
        </div>

        <div class="col-md-4 col-sm-6">
        <div class="dw-item">
        <div id="weather-widget"></div>
        </div>
        </div>
        </div>
        </div>

    </div>
</section>
