<div class="col-md-6 col-md-offset-3" style="margin-top: 8%">
  <div class="card" style="padding:10%;">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">email</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
               required/>
        <div *ngIf="f.submitted && !username.valid" class="help-block">이메일을 입력해주세요</div>
      </div>

      <!--<div align="center" style="vertical-align: middle; margin-top: 10%">-->
      <div class="lcb-navigation">
        <button [disabled]="loading" class="btn btn-default btn-block waves-effect" style="vertical-align: middle">Enter</button>
      </div>
      <!--</div>-->
    </form>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="list-inline text-center" align="center" style="vertical-align: middle; color: #999999">
          ⓒ Sweettracker Corp. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</div>

