<section id="content" style="margin-top: 2%">
<div class="container">
  <div class="card-header" style="margin-bottom: 2%">
    <h2>공지사항 등록</h2>
  </div>
  <div class="card" style="padding:10%;">
    <form name="form" (ngSubmit)="f.form.valid && setNotice()" #f="ngForm" novalidate>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
        <label for="title">제목</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required
               maxlength="50"/>
        <div *ngIf="f.submitted && !title.valid" class="help-block">제목을 입력해주세요</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !content.valid }">
        <label for="content">내용</label>
        <textarea style="height: 150px" type="content" class="form-control" name="content" [(ngModel)]="model.content"
                  #content="ngModel"
                  required maxlength=800></textarea>
        <div *ngIf="f.submitted && !content.valid" class="help-block">내용을 입력해주세요(최대 1000자)</div>
      </div>

      <div class="form-group" align="right">
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-info">등록</button>
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          <a [routerLink]="['/home']" class="btn btn-default">취소</a>
        </div>

      </div>
    </form>
  </div>
</div>
  <div class="text-center" align="center" style="vertical-align: middle;">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p class="list-inline text-center" align="center" style="vertical-align: middle; color:#999999">
              ⓒ Sweettracker Corp. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>



