<section id="content" style="margin-top: 2%">
<div class="container">
  <div class="card-header" style="margin-bottom: 2%">
    <h2>추적건수 통계</h2>
  </div>
  <div class="card">
    <div class="card-body card-padding">
      <div class="row">
        <form (ngSubmit)="getTrackingStaticList(datefrom.value, dateto.value, comcode.value)">
          <div class="col-sm-3 m-b-25">
            <p class="f-700 m-b-15" style="color: #418c97">조회기간</p>
            <input class="form-control"
                   a2e-datetimepicker
                   [date]="getFromDate()"
                   [options]="a2eOptions"
                   #datefrom name="datefrom"
            />
          </div>
          <div class="col-sm-3 m-b-25">
            <p class="f-700 m-b-15">&nbsp;</p>
            <input class="form-control"
                   a2e-datetimepicker
                   [date]="getToDate()"
                   [options]="a2eOptions"
                   #dateto name="dateto"
            />
          </div>
          <div class="col-sm-2 m-b-25">
            <p class="f-700 m-b-15" style="color: #418c97">배송사</p>
            <select [disabled]="loading" class="selectpicker" #comcode class='font-black' style="width: 100%">
              <option value="">전체</option>
              <option value="{{invoicecomcode.comcode}}" *ngFor="let invoicecomcode of invoicecomcodes">
                {{invoicecomcode.name}}
              </option>
            </select></div>
          <div class="col-sm-3 m-t-25">
            <button [disabled]="loading" class="btn btn-info hec-button" type="submit">조회</button>
            &nbsp;&nbsp;</div>
        </form>
      </div>
    </div>
    <div style="text-align: center; margin:1%;" *ngIf="!loading">
      <chart style="height: 400px;" [type]="type" [data]="data" [options]="optionszero" *ngIf="datasetiszero"></chart>
      <chart style="height: 400px;" [type]="type" [data]="data" [options]="options" *ngIf="!datasetiszero"></chart>
    </div>
    <div style="height:400px; overflow:auto;  margin-top: 4%;">
      <table class="table table-striped table-hover" style="padding:2%;">
        <!--로딩중 -->
        <p *ngIf="loading" style="text-align: center; align-content: center;">
          로딩중입니다 잠시만 기다려 주세요 .. &nbsp;&nbsp;&nbsp;
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </p>
        <!-- -->
        <!--<thead *ngIf="!loading">-->
        <!--<tr>-->
          <!--<th style="width: 48%; padding-left: 6%">요청일</th>-->
          <!--<th style="width: 38%;">요청건수</th>-->
          <!--<th>요청건수(운송장)</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <tr *ngIf="!loading" style="color: #418c97; background-color: white;">
          <th style="width: 48%; padding-left: 6%">요청일</th>
          <th style="width: 38%;">요청건수</th>
          <th>요청건수(운송장)</th>
        </tr>
        <tbody *ngIf="!loading">
        <tr *ngFor="let static of statics">
          <td style="padding-left: 6%">{{ static.regdate }}</td>
          <td>{{ static.invoice | addcommaformat }}</td>
          <td>{{ static.cnt | addcommaformatnumber }}</td>
        </tr>
        <tr>
          <td style="padding-left: 6%; color: #418c97">합계</td>
          <td>{{total_invoices | addcommaformatnumber}}</td>
          <td>{{total_cnt | addcommaformatnumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="text-center" align="center" style="vertical-align: middle;">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p class="list-inline text-center" align="center" style="vertical-align: middle; color:#999999">
            ⓒ Sweettracker Corp. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
</section>



