<section id="content" style="margin-top: 3%">
    <div class="container">
        <div class="block-header">
            <h2>Dashboard</h2>

            <ul class="actions">
                <li>
                    <a href="">
                        <i class="zmdi zmdi-trending-up"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="zmdi zmdi-check-all"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Refresh</a>
                        </li>
                        <li>
                            <a href="">Manage Widgets</a>
                        </li>
                        <li>
                            <a href="">Widgets Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="card">
            <div class="card-header">
                <h2 style="font-weight: bolder">Danger area
                    <small>With these you can receive and view the measured data and alarms outside of the danger
                        zone.
                    </small>
                    <small style="font-weight: bolder" *ngFor="let static of statics">sync {{static.updatedAt}}</small>
                    <!--로딩중 -->
                    <p *ngIf="loading" style="text-align: center; align-content: center; margin: 20%">
                    로딩중입니다 잠시만 기다려 주세요 .. &nbsp;&nbsp;&nbsp;
                    <img *ngIf="loading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    </p>
                    <!-- -->
                </h2>
                <div style="padding: 2%" >
                    <sebm-google-map
                            [latitude]="lat"
                            [longitude]="lng"
                            [zoom]="zoom"
                            [disableDefaultUI]="false"
                            [zoomControl]="false"
                            (mapClick)="mapClicked($event)">

                        <sebm-google-map-marker
                                *ngFor="let m of markers; let i = index"
                                (markerClick)="clickedMarker(m.label, i)"
                                [latitude]="m.lat"
                                [longitude]="m.lng"
                                [label]="m.label"
                                [markerDraggable]="m.draggable"
                                (dragEnd)="markerDragEnd(m, $event)">

                            <sebm-google-map-info-window>
                                <strong style="color: tomato">Danger</strong>
                            </sebm-google-map-info-window>

                        </sebm-google-map-marker>

                        <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
                                                [radius]="5000"
                                                [fillColor]="'red'"
                                                [circleDraggable]="true"
                                                [editable]="true">
                        </sebm-google-map-circle>

                    </sebm-google-map>
                </div>
                <h5>Damaged by Earthquakes Areas</h5>
                <ul>
                    <li>300 Olympic-ro, Sincheon-dong, Songpa-gu, Seoul</li>
                    <li>29 Sincheon-dong, Songpa-gu, Seoul</li>
                    <li>326 Olympic-ro, Sincheon-dong, Songpa-gu, Seoul</li>
                </ul>
            </div>
        </div>

        <!--<div *ngFor="let static of statics">-->
            <div class="mini-charts">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="mini-charts-item">
                            <div class="clearfix">
                                <i class="chart stats-bar"></i>
                                <div class="count">
                                    <small>Death</small>
                                    <h2>150</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mini-charts-item">
                            <div class="clearfix">
                                <i class="chart stats-line"></i>
                                <div class="count">
                                    <small>Wounded</small>
                                    <h2>2433</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="mini-charts-item">
                            <div class="clearfix">
                                <div class="chart stats-line-2"></div>
                                <div class="count">
                                    <small>Damage</small>
                                    <h2>$ 13,500k</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <!--<div class="dash-widgets">-->
            <!--<div class="row">-->
                <!--<div class="col-md-4 col-sm-6">-->
                    <!--<div id="site-visits" class="dash-widget-item">-->
                        <!--<div class="dw-item">-->
                            <!--<div class="dwi-header">-->
                                <!--<div class="p-30">-->
                                    <!--<div class="dash-widget-visits"></div>-->
                                <!--</div>-->

                                <!--<div class="dwih-title">For the past 30 days</div>-->
                            <!--</div>-->

                            <!--<div class="list-group lg-even-white">-->
                                <!--<div class="list-group-item media sv-item">-->
                                    <!--<div class="pull-right">-->
                                        <!--<div class="stats-bar"></div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<small>Page Views</small>-->
                                        <!--<h3>47,896,536</h3>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="list-group-item media sv-item">-->
                                    <!--<div class="pull-right">-->
                                        <!--<div class="stats-bar-2"></div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<small>Site Visitors</small>-->
                                        <!--<h3>24,456,799</h3>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="list-group-item media sv-item">-->
                                    <!--<div class="pull-right">-->
                                        <!--<div class="stats-line"></div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<small>Total Clicks</small>-->
                                        <!--<h3>13,965</h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-md-4 col-sm-6">-->
                    <!--<div id="pie-charts" class="dash-widget-item">-->
                        <!--<div class="dw-item">-->
                            <!--<div class="dwi-header">-->
                                <!--<div class="dwih-title">Email Statistics</div>-->
                            <!--</div>-->

                            <!--<div class="clearfix"></div>-->

                            <!--<div class="text-center p-20 m-t-25">-->
                                <!--<div class="easy-pie main-pie" data-percent="75">-->
                                    <!--<div class="percent">45</div>-->
                                    <!--<div class="pie-title">Total Emails Sent</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="p-t-25 p-b-20 text-center">-->
                                <!--<div class="easy-pie sub-pie-1" data-percent="56">-->
                                    <!--<div class="percent">56</div>-->
                                    <!--<div class="pie-title">Bounce Rate</div>-->
                                <!--</div>-->
                                <!--<div class="easy-pie sub-pie-2" data-percent="84">-->
                                    <!--<div class="percent">84</div>-->
                                    <!--<div class="pie-title">Total Opened</div>-->
                                <!--</div>-->
                                <!--<div class="easy-pie sub-pie-2" data-percent="21">-->
                                    <!--<div class="percent">21</div>-->
                                    <!--<div class="pie-title">Total Ignored</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-md-4 col-sm-6">-->
                    <!--<div class="dw-item">-->
                        <!--<div id="weather-widget"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</section>
